* {
    box-sizing: border-box; 
}
body {
    margin: 0 auto; 
}

.main {
    font-family: "gotham", sans-serif; 
    font-size: 10pt; 
    letter-spacing:.2rem; 
    position: relative;;
    margin: 0 auto; 
    width: 100vw; 
    height: 100vh;
    background-color: white;
    cursor: url(img/96ppi/cursor2.png),pointer; 
    overflow: hidden;
}
.mainNew {
    font-family: "gotham", sans-serif; 
    font-size: 10pt; 
    letter-spacing:.2rem; 
    position: relative;;
    margin: 0 auto; 
    width: 100vw; 
    height: 100vh;
    background-color: white;
    cursor: url(img/96ppi/cursor2.png),pointer; 
}
.sidemenu {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 60px; 
    top: calc(50% - 300px);  
    left: 10px; 
    white-space: nowrap; 
}
.sidemenu p {
    white-space: nowrap; 
    margin-top: 100px; 
    margin-bottom: 100px;  
    transform: rotate(90deg);
    color: rgb(124, 124, 124);
    font-size: 10px; 
}
.menuStykkene {
    width: 60px; 
}

.hvitLogo {
    position: sticky; 
    display: none; 
    z-index: 2; 
}

.svartLogo {
    position: fixed; 
    top: 20px;   
    left: 20px; 
    width: 115px; 
    z-index: 2; 
}
.ibsenHome  {
    position: fixed; 
    bottom: 40px;   
    left: 40px; 
    width: 60px; 
    z-index: 2; 
}
.ibsensUnivers {
    position: absolute;
    top: 0; 
    left: 0; 
    opacity: 1;
    width: 100vw; 
    height: 100vh;
    background-color: #EDEDE7; 
    transition: 1s;
}
.byste {
    position: absolute;
    top: calc(50% - 250px); 
    left: calc(50% - 150px); 
    width: 300px; 
    z-index: 2;
}
.henrikIbsenFront {
    position: absolute;
    top: calc(50% - 250px); 
    left: calc(50% - 230px); 
    width: 500px; 
    -webkit-animation: wiggleIbsen 30s ease-in-out infinite;
    animation: wiggleIbsen 30s ease-in-out infinite;
}
.universTekst {
    position: absolute;
    top: calc(50% + 80px); 
    left: calc(50% - 250px); 
    width: 500px; 
}

.ibsensUniversNew {
    position: absolute;
    top: -1400px; 
    left: 0px; 
    opacity: 1;
    width: 100vw; 
    height: 100vh;
    background-color: #EDEDE7; 
    transition: 1s;
}
.menuSection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 10pt; 
    position: absolute;
    top: -1400px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
    margin: 0 auto; 
    width: 100vw; 
    height: 500px;
    background-color: white; 
    transition: .2s; 
    overflow: hidden;
    padding-left: 50px; 
    padding-right: 50px; 
    opacity: 1;
}
.menuSectionNew {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 10pt; 
    position: absolute;
    top: calc(50% - 250px);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
    margin: 0 auto; 
    width: 100vw; 
    height: 500px;
    background-color: white; 
    transition: 1s; 
    overflow: hidden;
    padding-left: 50px; 
    padding-right: 50px; 
    opacity: 1;
}
.menuSection div {
    margin: 20px; 
    width: 300px; 
    height: 300px;
    background-color: white; 
}
.menuSection div:hover {
    cursor: pointer;
}
.menuSection img {
    height: 200px; 
}
.menuSection p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Introsiden */
.intro {
    position: absolute;
    width: 100vw; 
    height: 100vh;
    top: 0; 
    right: -1400px;
    transition: 1s;
    overflow: hidden;
}

.henrikIbsenTekst {
    width: 400px; 
    position: absolute;
    top: calc(50% + 80px);
    right: calc(50% - 2200px); 
    opacity: 0;
    transition: 2s ease;
}

.etDukkehjemTekst {
    width: 800px; 
    position: absolute;
    top: calc(50% - 30px); 
    right: calc(50% - 400px); 
    transform: rotate(-15deg); 
    opacity: 0;
    transition: 2s ease;
}
.nora {
    width: 100px; 
    position: absolute;
    top: calc(50% - 100px); 
    right: calc(50% - 400px); 
    opacity: 0;
    transition: 2s ease;
}

.hvitflekk {
    width: 100px; 
    position: absolute;
    top: calc(50% - 100px); 
    right: calc(50% - 400px); 
    transform: rotate(-25deg);
    opacity: 0;
    transition: 2s ease;
}

.introNew {
    position: absolute;
    background-color: rgb(252, 222, 217); 
    width: 100vw; 
    height: 100vh;
    top: 0; 
    right: 0px;
    transition: 1s;
}

.henrikIbsenTekstNew {
    width: 250px; 
    z-index: 1;
    position: absolute;
    top: calc(50% - 25px);
    right: calc(50% - 360px); 
    transform: rotate(-18deg);
    opacity: 1;
    transition: 2s ease;

}
.etDukkehjemTekstNew {
    z-index: 3;
    width: 800px; 
    position: absolute;
    top: calc(50% - 50px); 
    right: calc(50% - 400px); 
    transform: rotate(-10deg);
    opacity: 1;
    transition: 2s ease;
}

.noraNew {
    z-index: 2;
    width: 200px; 
    position: absolute;
    top: calc(50% - 200px); 
    right: calc(50% - 100px); 
    transform: rotate(0deg);
    opacity: 1;
    transition: 2s ease;
}

.hvitflekkNew {
    width: 400px; 
    position: absolute;
    top: calc(50% - 260px); 
    right: calc(50% - 200px);
    transform: rotate(-25deg);
    opacity: 1;
    transition: 2s ease;
}

.introUp {
    position: absolute;
    width: 100vw; 
    height: 100vh;
    top: -1400px; 
    right: 0px;
    transition: 1s;
}

/* IbsensUniverse menu */
.universSelection {
    position: absolute;  
    left: 0;
    bottom: -1400px; 
    margin: 0 auto;
    width: 100vw; 
    height: 100vh;
    transition: .7s; 
    opacity: 0; 
    overflow: hidden;
}
.universSelectionNew {
    opacity: 1;
    position: absolute; 
    top: 0; 
    bottom: 0px; 
    margin: 0 auto;
    width: 100vw; 
    height: 100vh;
    background-color: white; 
    transition: .7s;
}

.universSelection img {
    width: 350px; 
}
.stykkene {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    top: 0px; 
    left: 0px;
    background-color:white;
    align-items: center;  
}
.stykkene img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
}
.realismenUni {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    bottom: 0px; 
    left: 0px;
    background-color: #F7D4CE; 
}
.realismenUni img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
}
.omIbsen {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    top: 0px; 
    right: 0px;
    background-color:rgb(34, 34, 34); 
}

.omIbsen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
}
.symbolikkUni {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    bottom: 0px; 
    right: 0px;
    background-color:#D3D1C5; 
}
.symbolikkUni img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;  
}
/* Selection menu */
.playSelection {
    position: relative;  
    left: 0;
    top: -1400px; 
    margin: 0 auto;
    width: 100vw; 
    height: 100vh;
    transition: 1s; 
    opacity: 0; 
    transition-delay: 1s;
    overflow: hidden;
}
.playSelectionNew {
    opacity: 1;
    position: relative; 
    top: 0; 
    left: 0px; 
    margin: 0 auto;
    width: 100vw; 
    height: 100vh;
    background-color: white; 
}
.karakterer {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    top: 0px; 
    left: 0px;
    background-color:white;
    align-items: center;  
}

.karakterer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    width: 400px; 
}
.symboler {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    bottom: 0px; 
    left: 0px;
    background-color: #F7D4CE; 
}
.omIbsen2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    width: 500px; 
}
.akten {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    top: 0px; 
    right: 0px;
    background-color:rgb(34, 34, 34); 
}

.akten img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px; 
    width: 350px; 
}

.sammendrag {
    position: absolute;
    width: calc(100vw - 50%); 
    height: calc(100vh - 50%);
    bottom: 0px; 
    right: 0px;
    background-color:#D3D1C5; 
}
.sammendrag img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px; 
    width: 350px;   
}
.ibsen {
    margin: 0 auto; 
    width: 100px; 
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 10px; 
}

/* Karakter Slide */
.karakterSlide {
    position: absolute;
    width: 3000px; 
    height: 100vh;
    top: 0; 
    right: -4000px; 
    background-color: rgb(233, 233, 233);
    overflow-y: hidden; 
    overflow-x: scroll;
    white-space: nowrap;
    overflow: scroll; 
    transition: 1s; 
    opacity: 0; 
    transition-delay: 1s;
}

.karakterSlideNew {
    position: absolute;
    width: 3000px; 
    height: 100vh; 
    top: 0; 
    left: 0; 
    background-color: rgb(255, 255, 255);
    overflow-y: hidden; 
    overflow-x: scroll;
    overflow: scroll; 
    white-space: nowrap;
    transition: 1s; 
    opacity: 1; 
    transition-delay: 1s;
    display: inline-block; 
    padding-left: 200px; 
}
.scroll {
    width: 3000px; 
    height: 100vh;
    overflow-y: hidden;
    overflow-x: scroll;
}
/* Karakterne */
.nora2, .torvald, .drRank, .fruLinde, .herrKrogstad {
    position: relative;
    width: 700px; 
    height: 100vh; 
    display: inline-block; 
}
.nora2Bilde, .torvaldBilde, .drRankBilde, .fruLindeBilde, .herrKrogstadBilde {
    position: absolute;
    height: 300px; 
    top: calc(50% - 200px); 
    left: calc(50% - 100px); 
}

.nora2Bilde {
    height: 280px;
}

.nora2Tekst, .torvaldTekst, .drRankTekst, .fruLindeTekst {
    position: absolute;
    width: 450px; 
    top: calc(50%); 
    left: calc(50% - 200px); 
}
.torvaldFlekk {
    position: absolute;
    height: 250px;
    top: calc(50% - 150px); 
    left: calc(50% - 115px); 
    -webkit-animation: wiggleTh 13s ease-in-out infinite;
    animation: wiggleTh 13s ease-in-out infinite;
}
.torvaldTekst {
    top: calc(50% + 30px); 
    -webkit-animation: wiggleText 13s ease-in-out infinite;
    animation: wiggleText 13s ease-in-out infinite;
}
.nora2flekk {
    position: absolute;
    height: 250px;
    top: calc(50% - 100px); 
    left: calc(50% - 175px); 
    -webkit-animation: wiggleNora 14s ease-in-out infinite;
    animation: wiggleNora 14s ease-in-out infinite;
}
.nora2 {
    background-color: #F7D4CE; 
}
.nora2Tekst {
    width: 400px; 
    top: calc(50% + 80px); 
    left: calc(50% - 175px); 
    -webkit-animation: wiggleTextO 14s ease-in-out infinite;
    animation: wiggleTextO 14s ease-in-out infinite;
}

.fruLindeFlekk {
    position: absolute;
    height: 200px;
    top: calc(50% - 40px); 
    left: calc(50% - 150px); 
    -webkit-animation: wiggleFruLinde 13s ease-in-out infinite;
    animation: wiggleFruLinde 13s ease-in-out infinite;
}
.fruLindeTekst {
    width: 275px; 
    top: calc(50%); 
    left: calc(50% - 130px); 
    -webkit-animation: wiggleText 13s ease-in-out infinite;
    animation: wiggleText 13s ease-in-out infinite;
}
.herrKrogstad {
    background-color: #D3D1C5;
}
.herrKrogstadFlekk {
    position: absolute;
    height: 300px;
    top: calc(50% - 170px); 
    left: calc(50% - 150px); 
    -webkit-animation: wiggleTh 13s ease-in-out infinite;
    animation: wiggleTh 13s ease-in-out infinite;
}
.herrKrogstadTekst {
    position: absolute;
    width: 400px;
    top: calc(50% + 30px); 
    left: calc(50% - 200px);
    -webkit-animation: wiggleTextO 14s ease-in-out infinite;
    animation: wiggleTextO 14s ease-in-out infinite;
}
.drRankFlekk {
    position: absolute;
    height: 200px;
    top: calc(50% - 150px); 
    left: calc(50% - 150px); 
    -webkit-animation: wiggleNora 14s ease-in-out infinite;
    animation: wiggleNora 14s ease-in-out infinite;
}
.drRankBilde {
    height: 280px;
    position: absolute;
    top: calc(50% - 200px); 
    left: calc(50% - 120px); 
}
.drRankTekst {
    width: 360px; 
    top: calc(50% + 30px); 
    left: calc(50% - 180px); 
    -webkit-animation: wiggleText 13s ease-in-out infinite;
    animation: wiggleText 13s ease-in-out infinite;
}


/* 
    juicy wiggle that torvald
    =========================================== 
*/
@-webkit-keyframes wiggleTh
{
    0% {-webkit-transform: rotateZ(5deg) skew(20deg) scale(1.1, 1.1);}
    50% {-webkit-transform: rotateZ(-5deg) skew(-20deg) scale(1.3, 1.3);}
    100% {-webkit-transform: rotateZ(5deg) skew(20deg) scale(1.1, 1.1); }
}
@keyframes wiggleTh
{
    0% {transform: rotateZ(5deg) skew(20deg) scale(1.1, 1.1);}
    50% {transform: rotateZ(-5deg) skew(-20deg) scale(1.3, 1.3);}
    100% {transform: rotateZ(5deg) skew(20deg) scale(1.1, 1.1);}
}

/* 
    juicy wiggle that nora
    =========================================== 
*/
@-webkit-keyframes wiggleNora
{
    0% {-webkit-transform: rotateZ(-5deg) skew(17deg) scale(1.1, 1.1);}
    50% {-webkit-transform: rotateZ(5deg) skew(-17deg) scale(1.3, 1.3);}
    100% {-webkit-transform: rotateZ(-5deg) skew(17deg) scale(1.1, 1.1); }
}
@keyframes wiggleNora
{
    0% {transform: rotateZ(-5deg) skew(17deg) scale(1.1, 1.1);}
    50% {transform: rotateZ(5deg) skew(-17deg) scale(1.3, 1.3);}
    100% {transform: rotateZ(-5deg) skew(17deg) scale(1.1, 1.1);}
}

/* 
    juicy wiggle that fru linde
    =========================================== 
*/
@-webkit-keyframes wiggleFruLinde
{
    0% {-webkit-transform: rotateZ(-18deg) skew(25deg) scale(1.1, 1.1);}
    50% {-webkit-transform: rotateZ(18deg) skew(-25deg) scale(1.5, 1.5);}
    100% {-webkit-transform: rotateZ(-18deg) skew(25deg) scale(1.1, 1.1); }
}
@keyframes wiggleFruLinde
{
    0% {transform: rotateZ(-18deg) skew(25deg) scale(1.1, 1.1);}
    50% {transform: rotateZ(18deg) skew(-25deg) scale(1.5, 1.5);}
    100% {transform: rotateZ(-18deg) skew(25deg) scale(1.1, 1.1);}
}
/* 
    juicy wiggle that Ibsen
    =========================================== 
*/
@-webkit-keyframes wiggleIbsen
{
    0% {-webkit-transform: rotateZ(-18deg) skew(19deg) scale(1.5, 1.5);}
    50% {-webkit-transform: rotateZ(18deg) skew(-19deg) scale(1.5, 1.5);}
    100% {-webkit-transform: rotateZ(-18deg) skew(19deg) scale(1.5, 1.5); }
}
@keyframes wiggleIbsen
{
    0% {transform: rotateZ(-18deg) skew(19deg) scale(1.5, 1.5);}
    50% {transform: rotateZ(18deg) skew(-19deg) scale(1.5, 1.5);}
    100% {transform: rotateZ(-18deg) skew(19deg) scale(1.5, 1.5);}
}

/* 
    juicy wiggle that text
    =========================================== 
*/

@-webkit-keyframes wiggleText
{
    0% {-webkit-transform: rotateZ(0deg);}
    50% {-webkit-transform: rotateZ(-5deg);}
    100% {-webkit-transform: rotateZ(0deg); }
}
@keyframes wiggleText
{
    0% {transform: rotateZ(0deg);}
    50% {transform: rotateZ(-5deg);}
    100% {transform: rotateZ(0deg);}
}

/* 
    juicy wiggle that text opposite
    =========================================== 
*/

@-webkit-keyframes wiggleTextO
{
    0% {-webkit-transform: rotateZ(0deg);}
    50% {-webkit-transform: rotateZ(5deg);}
    100% {-webkit-transform: rotateZ(0deg); }
}
@keyframes wiggleTextO
{
    0% {transform: rotateZ(0deg);}
    50% {transform: rotateZ(5deg);}
    100% {transform: rotateZ(0deg);}
}


.tilbake {
    position: fixed;
    bottom: 60px;
    left: 140px;
    font-size: 12px;
    font-weight: 300;
    z-index: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

